<% provide(:title, 'Home') %>
<%= render partial: 'layouts/imageheader' %>
	<% if Issue.last.galleries.count > 0 %>
	<div class = "home-feature-container">
		<div class = "home-feature-overlay">
			<%= image_tag((@gallery.gallery_attachments.first.avatar_url.to_s), :class => "home-feature-image" )%>
			<div class = "home-feature-text">
				<h3><%= @gallery.issue.name %></h3>
				<div></div>
				<h1><%= link_to @gallery.title, issue_gallery_path(@gallery.issue, @gallery) %></h1>
			</div>
		</div>
	</div>
	<% end %> <!-- only display if there is a gallery -->

	<% if Issue.last.articles.count > 0 %>
	<div class = "magazine-preview-container">
		<% for article in @articles do %>
		<div class = "article-block">
			<%= link_to issue_article_path(article.issue, article) do %>
				<%= image_tag(article.article_attachments.first.avatar.show) %>
			<% end %>
			<div class = "article-preview-text">
				<h3><%= link_to article.title, issue_article_path(article.issue, article) %></h3>
				<h5 id = "author-name">By <%= link_to article.author.name, author_path(article.author) %></h5>
			</div>
		</div> <!-- article-block -->
		<% end %>
	</div>
	<% end %> <!-- only display if there are articles -->

	<div id = "thin-line-home"></div>
	<div class = "current-magazine-container">
		<div class = "fake-mag-cover">
			<%= link_to @issue do %>
				<%= image_tag(@issue.image_url.to_s) %>
			<% end %>
		</div>
		<div class = "current-magazine-content">
			<h3><%= link_to @issue.name, issue_path(@issue)%></h3>
			<ul class = "articles-list">
				<% for article in @latestarticles do %>
					<li><%= link_to article.title, issue_article_path(article.issue, article) %> &#8212; <span id = "current-magazine-author-name"><%= link_to article.author.name, author_path(article.author) %></span></li>
				<% end %>
				<% for gallery in @latestgalleries do %>
					<li><%= link_to gallery.title, issue_gallery_path(gallery.issue, gallery) %> &#8212; <span id = "current-magazine-author-name"><%= link_to gallery.author.name, author_path(gallery.author) %></span></li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class = "home-about-container">
		<div class = "home-about-text">
			<p>Et Cetera is an artisan magazine that seeks to break the mold of other publications. Focusing on both presentation and content, Et Cetera will serve as a platform to delve into arts, culture, and the untold stories of Bucknell community members. </p>
			<h5><a href="/about">Continue Reading &#10147;</a></h5>
		</div>
	</div>

	<% if false %>
	<div class = "blog-display-container">
		<div class = "home-icon-container">
			<span class = "icon laptop"></span>
			<span class = "icon box"></span>
			<span class = "icon layer"></span>
			<span class = "icon computer"></span>
		</div>
		<div class = "home-blog-title-container">
			<h3 id = "home-blog-title"><span>From The Blog</span></h3>
		</div>
		<% for blog in @blogs do %>
		<div class = "blog-home-display">
			<div class = "blog-display-left">
				<%= link_to(blog) do %>
					<%= image_tag(blog.image_url.to_s, :class => "blog-home-image") %>
				<% end %>
			</div>
			<div class = "blog-display-right">
				<h3><%= link_to blog.title, blog_path(blog)%></h3>
				<h4><span id = "author-name"><%= link_to blog.author.name, author_path(blog.author) %></span><span id = "home-blog-date"> | <%=blog.created_at.strftime("%d %B, %Y")%></span></h4>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>

	<% if false %>	<%= render partial: 'layouts/signup' %> <% end %>

</div>
