<% provide(:title, 'Home') %>
<%= render partial: 'layouts/imageheader' %>
	<% if Issue.last.galleries.count > 0 %>
	<div class = "home-feature-container">
		<div class = "home-feature-overlay">
			<%= image_tag((@gallery.gallery_attachments.first.avatar_url.to_s), :class => "home-feature-image" )%>
			<div class = "home-feature-text">
				<h3><%= @gallery.issue.name %></h3>
				<div></div>
				<h1><%= link_to @gallery.title, issue_gallery_path(@gallery.issue, @gallery) %></h1>
			</div>
		</div>
	</div>
	<% end %> <!-- only display if there is a gallery -->

	<% if Issue.last.articles.count > 0 %>
	<div class = "magazine-preview-container">
		<% for article in @articles do %>
		<div class = "article-block">
			<%= link_to issue_article_path(article.issue, article) do %>
				<%= image_tag(article.article_attachments.first.avatar.show) %>
			<% end %>
			<div class = "article-preview-text">
				<h3><%= link_to article.title, issue_article_path(article.issue, article) %></h3>
				<h5 id = "author-name">By <%= link_to article.author.name, author_path(article.author) %></h5>
			</div>
		</div> <!-- article-block -->
		<% end %>
	</div>
	<% end %> <!-- only display if there are articles -->

	<div id = "thin-line-home"></div>
	<div class = "current-magazine-container">
		<div class = "fake-mag-cover">
			<%= link_to @issue do %>
				<%= image_tag(@issue.image_url.to_s) %>
			<% end %>
		</div>
		<div class = "current-magazine-content">
			<h3><%= link_to @issue.name, issue_path(@issue)%></h3>
			<ul class = "articles-list">
				<% for article in @latestarticles do %>
					<li><%= link_to article.title, issue_article_path(article.issue, article) %> &#8212; <span id = "current-magazine-author-name"><%= link_to article.author.name, author_path(article.author) %></span></li>
				<% end %>
				<% for gallery in @latestgalleries do %>
					<li><%= link_to gallery.title, issue_gallery_path(gallery.issue, gallery) %> &#8212; <span id = "current-magazine-author-name"><%= link_to gallery.author.name, author_path(gallery.author) %></span></li>
				<% end %>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>
				<li>Placeholder</li>

			</ul>
		</div><!-- content -->
	</div><!-- magazine container -->

	<% if false %>	<%= render partial: 'layouts/signup' %> <% end %>

</div>
