<% provide(:title, 'Login') %>
<div class = "login-wrapper">
	<div class = "login-container">
		<h4><%= link_to "Etcetera Magazine", root_path %></h4>
		<h3>Login</h3>
		<%= form_tag sessions_path do %>
		  <p>
		    <%= text_field_tag( :email, params[:email], placeholder: 'Email') %>
		  </p>
		  <p>
		    <%= password_field_tag(:password, "", placeholder: "Password")  %>
		  </p>
		  <p><%= submit_tag "Submit" %></p>
		<% end %>
	</div>
</div>
