<div class = "blog-form-container">
<% @blog.errors.each_with_index do |msg, i| %>
       <h1 id = "validation-error-message"><%= msg[1] %></h1>
<% end %>

<%= form_for @blog, :html => {:multipart => true} do |b| %>
	<p>
		Title<br>
		<%= b.text_field :title %>
	</p>
	<p>
		<% if @blog.image? %>
		
		<% else %>
		Upload Image<br>
		<%= b.file_field :image, :class => "upload-button" %>
		<% end %>
	</p>
	<p>
		Add an Author<br>
		<%= collection_select( :blog, :author_id, Author.all.order('name ASC'), :id, :name, {}, { :multiple => false}) %>
	</p>
	<p>
		Body<br>
		<%= b.text_area :body, :class => 'ckeditor'%>
	</p>
	<p>
		<%= b.submit "Update"%>
	</p>

<% end %>
</div>
