<div class = "blog-form-container">
<%= form_for @blog do |b| %>
	<p>
		<%= b.label :title %>:<br>
		<%= b.text_field :title %>
	</p>
	<p>
		<%= collection_select( :blog, :author_id, Author.all.order('name ASC'), :id, :name, {}, { :multiple => false}) %>
	</p>
	<p>
		<%= b.label :body %>:<br>
		<%= b.text_area :body, :class => 'ckeditor'%>
	</p>
	<p>
		<%= b.submit "Update"%>
	</p>

<% end %>
</div>
