<div class = "blog-form-container">
<%= form_for @blog do |b| %>
	<p>
		<%= b.label :title %>:<br>
		<%= b.text_field :title %>
	</p>
	<p>
		<%= b.label :body %>:<br>
		<%= b.text_area :body, :class => 'ckeditor'%>
	</p>
	<p>
		<%= b.submit "Update"%>
	</p>

<% end %>
</div>
