<div class = "blog-form-container">
<% @blog.errors.each_with_index do |msg, i| %>
       <h1 id = "validation-error-message"><%= msg[1] %></h1>
<% end %>

<%= form_for @blog, :html => {:multipart => true} do |b| %>
	<p>
		<%= b.label :title %>:<br>
		<%= b.text_field :title %>
	</p>
	<p>
		<%= b.file_field :image %>
	</p>
	<p>
		<%= collection_select( :blog, :author_id, Author.all.order('name ASC'), :id, :name, {}, { :multiple => false}) %>
	</p>
	<p>
		<%= b.label :body %>:<br>
		<%= b.text_area :body, :class => 'ckeditor'%>
	</p>
	<p>
		<%= b.submit "Update"%>
	</p>

<% end %>
</div>
