<% provide(:title, 'Blog') %>


<div class = "blog-container">
	<h1>EtcMag<span id = "red">Blog</span></h1>
	<div id = "line-thin"></div>
	<div id = "line-thick"></div>
		<% for blog in @blogs do %>
		<div class = "blog-block">
			<%= link_to(blog) do %>
				<div class = "blog-block-left">
					<%=image_tag(blog.image_url(:thumb).to_s, :class => "blog-left-image") %>
				</div>
			<% end %>

			<div class = "blog-block-right">
				<h4><%= link_to blog.title, blog_path(blog) %></h4>
				<h5><%=blog.created_at.strftime("%d %B, %Y")%></h5>
				<p>
					<%= truncate(blog.body.html_safe, length: 300, separator: ' ', :escape => false) %>
				</p>
				<div class = "posted-by">
					<h3>Posted by <span id = "blog-index-red"><%= link_to blog.author.name.split(' ')[0], author_path(blog.author) %></span></h3>
				</div>
			</div>
		</div>
		<% end %>	
</div>