<div class = "blog-form-container">
<%= form_for([@issue, @article]) do |a| %>
	<p>
		<%= a.label :title %>:<br>
		<%= a.text_field :title %>
	</p>
	<p>
		<%= collection_select( :article, :author_id, Author.all.order('name ASC'), :id, :name, {}, { :multiple => false}) %>
	</p>
	<%= a.fields_for :article_attachments do |p| %>
    	<div class="field">
       		<%= p.label :avatar %><br>
       		<%= p.file_field :avatar, :multiple => true, name: "article_attachments[avatar][]" %>
     	</div>
   	<% end %>
	<p>
		<%= a.label :body %>:<br>
		<%= a.text_area :body, :class => 'ckeditor'%>
	</p>
	<p>
		<%= a.submit "Update"%>
	</p>
<% end %>
</div>