<% provide(:title, "#{@author.name}") %>

<div class = "author-show-wrapper">
	<h1 class = "author-show-head"><%= @author.name %></h1>
	<div class = "author-blog-container">
				<% for blog in @blogs do %>
				<div class = "author-blog">
						<div class = "author-blog-thumb">
							<%= link_to(blog) do %>
								<%= image_tag(blog.image_url.to_s, :class => "author-blog-image") %>
							<% end %>
						</div><!-- author-blog-thumb -->
					<div class = "blog-author-content">
						<h3 id = "blog-author-show-title"><%= link_to blog.title, blog_path(blog)%></h3>
						<p id = "blog-author-show-date"><%=blog.created_at.strftime("%d %B, %Y")%></p>
					</div><!-- blog-author-content -->
				</div> <!-- author-blog -->
				<% end %>
	</div><!-- author-blog-container -->

	<% if (@articles.any? or @galleries.any?) %>
	<div class = "from-the-blog-show">
		<div class = "home-icon-container">
			<span class = "icon coffee"></span>
			<span class = "icon pen-ruler"></span>
			<span class = "icon newspaper"></span>
			<span class = "icon puzzle"></span>
		</div>
		<div class = "author-blog-title-container">
			<h3 id = "author-blog-title"><span>From The Magazine</span></h3>
		</div>
	</div> <!-- from the blog show -->
	<% end %>

	<div class = "author-blog-container">
				<% for article in @articles do %>
				<% @issue = article.issue %>
				<div class = "author-blog">
						<div class = "author-blog-thumb">
							<%= link_to issue_article_path(@issue, article) do %>
								<%= image_tag(article.article_attachments.first.avatar.thumb, :class => "author-blog-image") %>
							<% end %>
						</div><!-- author-blog-thumb -->
					<div class = "blog-author-content">
						<h3 id = "blog-author-show-title"><%= link_to article.title, issue_article_path(@issue, article)%></h3>
						<p id = "blog-author-show-date">From <i><%=link_to article.issue.name, issue_path(@issue)%></i></p>
					</div><!-- blog-author-content -->
				</div> <!-- author-blog -->
				<% end %>

				<% for gallery in @galleries do %>
				<% @issue_name = gallery.issue %>
				<div class = "author-blog">
						<div class = "author-blog-thumb">
							<%= link_to issue_gallery_path(@issue_name, gallery) do %>
								<%= image_tag(gallery.gallery_attachments.first.avatar.thumb, :class => "author-blog-image") %>
							<% end %>
						</div><!-- author-blog-thumb -->
					<div class = "blog-author-content">
						<h3 id = "blog-author-show-title"><%= link_to gallery.title, issue_gallery_path(@issue_name, gallery)%></h3>
						<p id = "blog-author-show-date">From <i><%=link_to article.issue.name, issue_path(@issue_name)%></i></p>
					</div><!-- blog-author-content -->
				</div> <!-- author-blog -->
				<% end %>
	</div><!-- author-blog-container -->
</div><!-- author-show-wrapper -->
