<% if current_user %>
	<div class = "logout">
		 <%= link_to "Log out", logout_path %>
	</div>
<% end %>

<div class = "header-container">
	<div class = "circle">
		<a href="<%= root_path %>">
		<%= image_tag(('e.png'), class: "circle-img") %>
		</a>
	</div>
	<h1><%= link_to "Etcetera Magazine", root_path, class: "header-text" %></h1>
	<ul class = "header-nav">
		<li><p><%= link_to "About Us", about_path, class: cp(about_path) %></p></li>
		<% if false %><li><p><%= link_to "Blog", blogs_path, class: cp(blogs_path) %></p></li><% end %>
		<li><p><%= link_to "Magazine", magazine_path, class: mag %></p></li>
		<li><p><%= link_to "Previous Issues", issues_path, class: cp(issues_path) %></p></li>
		<li><p><%= link_to "Contributors", authors_path, class: cp(authors_path) %></p></li>
		<li><p><%= link_to "Contact", contact_path, class: cp(contact_path) %></p></li>
	</ul>
</div>
